* {
  margin: 0;
  padding: 0;
}

body{
  background-color:rgb(205,7,30);
  color:rgb(255, 210, 48);
  font-family:outfit;
}

h1 {
  font-family: coiny;
  text-align:center;
  font-size:40pt;
  padding:20px;

}

.header{
background-color:brown;
border-bottom: solid 10px brown;


}

h2 {
  text-align:center;
  padding:20px;
}

.introduction{
  background-color: white;
  padding:20px
}

.dim-sum-grid {
background-color: white;
padding: 50px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap:30px;
row-gap:40px;
border-bottom: solid 10px brown;

}

.dim-sum-item{
box-shadow: rgb(152, 152, 152) 10px 10px 10px ;
  background-color: brown;
  padding: 12px;
  border-radius: 10px;
}

.dim-sum-image {
  width: 100%;
  height: 180px;
  
}

.dim-sum-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
    border-radius: 10px;
}

h3 {
  text-align:center;
  margin:20px;
}